  <div class="container" style="vertical-align: center">
      <h1 class="text-uppercase">
        <strong>Passport Data</strong>
      </h1>
      <hr/>
      <div class="form-group row">
        <label for="passport_no" class="col-2 col-form-label">Passport Number</label>
        <div class="col-10">
          <input [(ngModel)]="getVisaFormDTO().passportData.passportId" class="form-control" type="text"  id="passport_no">
        </div>
      </div>
      <div class="form-group row">
        <label for="passport_issue_date" class="col-2 col-form-label">Passport Issue Date</label>
        <div class="col-10">
          <input [(ngModel)]="getVisaFormDTO().passportData.passportIssueDate"
                 class="form-control" type="date" id="passport_issue_date">
        </div>
      </div>
      <div class="form-group row">
        <label for="passport_expiry_date" class="col-2 col-form-label">Passport Expiry Date</label>
        <div class="col-10">
          <input [(ngModel)]="getVisaFormDTO().passportData.passportExpireDate"
                 class="form-control" type="date" value="How do I shoot web" id="passport_expiry_date">
        </div>
      </div>
      <div class="form-group row">
        <label for="passport_type" class="col-2 col-form-label">Passport Type</label>
        <div class="col-10">
          <select [(ngModel)]="getVisaFormDTO().passportData.passportType" class="form-control" id="passport_type">
            <option>Personal</option>
            <option>Diplomatic</option>
          </select>
        </div>
      </div>
      <hr/>
      <div class="btn-group pull-right" role="group" aria-label="Basic example">
        <a class="btn btn-info pull-right" (click)="onSubmit(pageNumber.PERSONALPAGE)">Previous</a>
        <a class="btn btn-info pull-right" (click)="onSubmit(pageNumber.VISAPAGE)">Next</a>
      </div>
  </div>
