  <div class="container" style="vertical-align: center">
      <h1 class="text-uppercase">
        <strong>Visa Data</strong>
      </h1>
      <hr/>
      <div class="form-group row">
        <label for="passport_no" class="col-2 col-form-label">Visa Type</label>
        <div class="col-10">
        <select class="form-control" id="passport_no">
          <option>Hajj</option>
        </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="visa_Issue_date" class="col-2 col-form-label">Arrival Date</label>
        <div class="col-10">
          <input class="form-control" type="date" id="visa_Issue_date"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="visa_Duration" class="col-2 col-form-label">Visa Duration</label>
        <div class="col-10">
          <input class="form-control" type="number" id="visa_Duration"/>
        </div>
      </div>
      <hr/>

      <div class="btn-group pull-right" role="group" aria-label="Basic example">
          <a class="btn btn-info " (click)="onSubmit(pageNumber.PASSPORTPAGE)">Previous</a>
          <a class="btn btn-info" (click)="onSubmit(pageNumber.VISAPAYMENT)">Next</a>
      </div>
    </div>
