  <div class="container" style="vertical-align: center">
      <h1 class="text-uppercase">
        <strong>Prepare for Visa</strong>
      </h1>
      <hr/>
      <div class="form-group row">
        <label for="national_ID" class="col-2 col-form-label">National ID</label>
        <div class="col-10">
          <input class="form-control" type="number" value="Artisanal kale" id="national_ID">
        </div>
      </div>
      <div class="form-group row">
        <label for="travel_type" class="col-2 col-form-label">Travel Type</label>
        <div class="col-10">
          <select class="form-control" id="travel_type">
            <option>Group</option>
            <option>Individual</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="agency_number" class="col-2 col-form-label">Agency Number</label>
        <div class="col-10">
          <input class="form-control" type="number" value="Artisanal kale" id="agency_number">
        </div>
      </div>
      <div class="btn-group pull-right" role="group" aria-label="Basic example">
        <a class="btn btn-info pull-right" (click)="onSubmit(pageNumber.PERSONALPAGE)">Next</a>
      </div>
    </div>


<!--TODO National ID Screen-->
